<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CATax" class="th.ku.register.CATaxCalculator"/>
    <bean id="NYTax" class="th.ku.register.NYTaxCalculator"/>
    <bean id="register" class="th.ku.register.CashRegister">
        <constructor-arg value="Kasetsart"/>
        <constructor-arg ref="CATax"/>
    </bean>
</beans>
